<div class="well">
    <form name="form" crud-edit="consult">
        <legend>Style Consultation</legend>
        <div class="row-fluid">
            <div class="span6">
                <label>Date</label>
                <input type="text" name="date" ng-model="consult.date" class="span10" required autofocus>
                <label>Notes</label>
                <textarea rows="10" cols="10" ng-model="consult.notes" class="span10">
                </textarea>
            </div>
            <div class="span6" ng-controller="TeamMembersController">
                <label>Consult Mentor</label>
                <select class="span12" ng-model="consult.mentor"
                        ng-options="user.$id() as user.getFullName() for user in mentorCandidates()" required>
                    <option value="">-- choose --</option>
                </select>
                <label>Stylist</label>
                <select class="span12" ng-model="consult.stylist"
                        ng-options="user.$id() as user.getFullName() for user in stylistCandidates()" required>
                    <option value="">-- choose --</option>
                </select>
                <label>Development Team</label>
                <table class="table table-bordered table-condensed table-striped table-hover">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="userId in consult.teamMembers">
                        <td>{{usersLookup[userId].getFullName()}}</td>
                        <td>
                            <button class="btn btn-small" ng-click="removeTeamMember(userId)">Remove</button>
                        </td>
                    </tr>
                    <tr>
                        <td><select class="span6" ng-model="selTeamMember"
                                    ng-options="user.$id() as user.getFullName() for user in teamMemberCandidates()"></select>
                        </td>
                        <td>
                            <button class="btn btn-small" ng-click="addTeamMember(selTeamMember)" ng-disabled="!selTeamMember">Add
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <hr>
            <crud-buttons class="span12"></crud-buttons>
        </div>
    </form>
</div>